In [70]:
!pip install scikit-learn xport numpy pandas

Requirement already satisfied: scikit-learn in /home/alaedine/anaconda3/lib/python3.7/site-packages (0.20.3)
Requirement already satisfied: xport in /home/alaedine/anaconda3/lib/python3.7/site-packages (2.0.2)
Requirement already satisfied: numpy in /home/alaedine/anaconda3/lib/python3.7/site-packages (1.16.2)
Requirement already satisfied: pandas in /home/alaedine/anaconda3/lib/python3.7/site-packages (0.24.2)
Requirement already satisfied: scipy>=0.13.3 in /home/alaedine/anaconda3/lib/python3.7/site-packages (from scikit-learn) (1.2.1)
Requirement already satisfied: python-dateutil>=2.5.0 in /home/alaedine/anaconda3/lib/python3.7/site-packages (from pandas) (2.8.0)
Requirement already satisfied: pytz>=2011k in /home/alaedine/anaconda3/lib/python3.7/site-packages (from pandas) (2018.9)
Requirement already satisfied: six>=1.5 in /home/alaedine/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.5.0->pandas) (1.12.0)

In [71]:
from os import listdir
from os.path import isfile, join
import xport
import pandas as pd
import numpy as np

from sklearn.svm import SVC
from sklearn.neural_network import MLPClassifier
from sklearn.naive_bayes import ComplementNB
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier

from sklearn.model_selection import KFold, train_test_split
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import precision_recall_fscore_support, fbeta_score

from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
from matplotlib import pyplot
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.metrics import cohen_kappa_score
from sklearn.metrics import roc_auc_score
from sklearn.metrics import confusion_matrix

In [72]:
data_path = "Data/"
data_files = [join(data_path, f) for f in listdir(data_path) if isfile(join(data_path, f))] #
data_files

['Data/DIQ_H.XPT',
 'Data/DIQ_C.XPT',
 'Data/DIQ_B.XPT',
 'Data/DIQ_I.XPT',
 'Data/DIQ_G.XPT',
 'Data/DIQ_F.XPT']

In [73]:
n_file = 1
data_path_latest = 'Data/DIQ_I.XPT' #choix du fichier de travail
df = pd.read_sas(data_path_latest)
print(data_files[-1], df.shape)
df = df.fillna(value=0) #missing values
df = df.drop(['DIQ010', 'DID040', 'DIQ175E', 'DIQ172', 'DIQ175A', 'DIQ175B', 'DIQ175C', 'DIQ175D', 'DIQ175F', 'DIQ175G', 'DIQ175G', 'DIQ175H', 'DIQ175I', 'DIQ175J', 'DIQ175K', 'DIQ175L', 'DIQ175M', 'DIQ175N', 'DIQ175O', 'DIQ175P', 'DIQ175Q', 'DIQ175R', 'DIQ175S', 'DIQ175T', 'DIQ175U', 'DIQ175V', 'DIQ175W', 'DIQ175X', 'DID060', 'DIQ060U',
       'DIQ070', 'DIQ280', 'DIQ291', 'DID330', 'DIQ080'], axis=1)
#df.head()
df.columns

#clean des datas fini

Data/DIQ_F.XPT (9575, 54)

Index(['SEQN', 'DIQ160', 'DIQ170', 'DIQ180', 'DIQ050', 'DIQ230', 'DIQ240',
       'DID250', 'DID260', 'DIQ260U', 'DIQ275', 'DIQ300S', 'DIQ300D',
       'DID310S', 'DID310D', 'DID320', 'DID341', 'DID350', 'DIQ350U',
       'DIQ360'],
      dtype='object')

In [74]:
#définition des X et des Y

X = df[['DIQ170', 'DIQ180', 'DIQ050', 'DIQ230', 'DIQ240',
       'DID250', 'DID260', 'DIQ260U', 'DIQ275', 'DIQ300S', 'DIQ300D',
       'DID310S', 'DID310D', 'DID320', 'DID341', 'DID350', 'DIQ350U',
       'DIQ360']]
Y = df[["DIQ160"]]

print(X.shape)
print(Y.shape)

(9575, 18)
(9575, 1)

In [75]:
X.head(10)

,DIQ170,DIQ180,DIQ050,DIQ230,DIQ240,DID250,DID260,DIQ260U,DIQ275,DIQ300S,DIQ300D,DID310S,DID310D,DID320,DID341,DID350,DIQ350U,DIQ360
0,0.0,0.0,1.0,4.0,1.0,2.0,1.0,1.0,1.0,134.0,72.0,6666.0,6666.0,9999.0,5.397605e-79,1.0,1.0,2.0
1,2.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.0
2,0.0,0.0,2.0,3.0,2.0,0.0,2.0,2.0,1.0,141.0,68.0,140.0,60.0,9999.0,2.000000e+00,2.0,2.0,2.0
3,1.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.0
4,2.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.0
5,2.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.0
6,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.0
7,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.0
8,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.0
9,2.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.0

In [76]:
Y.head(10)

   DIQ160
0     0.0
1     2.0
2     0.0
3     1.0
4     2.0
5     2.0
6     0.0
7     0.0
8     0.0
9     2.0

In [77]:
# Break off validation set from training data
X_train, X_valid, y_train, y_valid = train_test_split(X, Y, train_size=0.8, test_size=0.2, random_state=0)

print("Loading complete.")

# Define the models
model = RandomForestRegressor(n_estimators=1500, random_state=0)

print("Model defined.")

model.fit(X_train, y_train) #Entrainer l'algo

print("Algorithm trained.")

preds = model.predict(X_valid) #Le faire tourner sur des données jamais vues

print("Model score :")
print(model.score(X_valid, y_valid))

Loading complete.
Model defined.

/home/alaedine/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:11: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  # This is added back by InteractiveShellApp.init_path()

Algorithm trained.
Model score :
0.8234924934287293